# models
ContraBERT/saved_models/pretrain_models/
LLM/saved_models
LLM/outputs
model.bin

# artifacts from decompressing files
*Zone.Identifier

#docker images, etc
*.tar

#build artifacts
zoneinfo

#caches
__pycache__
LLM/wheels